.content {
    margin: 0 auto;
    padding: 133px 30px;
    display: grid;
    grid-template-columns: min-content 1fr;
    justify-items: stretch;
    align-items: end;
    column-gap: 30px;
    border: 1px solid red;
  }  

.search-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    margin: 0;
    padding: 0;
}  

.content__list {
    margin: 0;
    padding: 0;
    max-height: 338px;
    overflow: auto;
    position: relative;
    border: 1px solid red;
  }
  
.result__video-container {
    margin: 0;
    padding: 78px 0 16px 0;
    min-width: 711px;
    position: relative;
    border: 1px solid red;
}

.result__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border: 1px solid red;
}

.title {
  color: currentColor;
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 70.5px;
  letter-spacing: 0em;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list-item {
    margin: 26px 0;
    border: 1px solid red;
}
  
.content__list-item:last-of-type {
    margin-bottom: 0;
}


.content__card-link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
  
.content__video-card {
    display: grid;
    grid-template-columns: 1fr min-content;
    justify-content: space-between;
    align-content: start;
}

.content__video-card-thumbnail {
  max-width: 194px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {}

.content__video-card-title {
  color: currentColor;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-transform: uppercase;
  padding: 0 6px 6px 0;
}

.content__video-card-description {
  color: currentColor;
  font-size: inherit;
  font-weight: 400;
  line-height: 16.2px;
  letter-spacing: 0em;
  padding: 0 6px 0 0;
}