*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  border: 1px solid red;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  margin: 0 auto;
  padding: 133px 30px;
  display: grid;
  grid-template-columns: min-content 1fr;
  justify-items: stretch;
  align-items: end;
  column-gap: 30px;
  border: 1px solid red;
}

.result {
  border: 1px solid red;
}

.result__video-container {
  margin: 0;
  padding: 78px 0 16px 0;
  min-width: 711px;
  border: 1px solid red;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border: 1px solid red;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  margin: 0;
  padding: 0;
  border: 1px solid red;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
}

.content__details {
  margin: 0;
  padding: 0;
  border: 1px solid red;
}

.title {
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 1em;
  letter-spacing: 0em;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  margin: 0;
  padding: 0;
  max-height: 325px;
  overflow: auto;
  border: 1px solid red;
}

.content__list-item {
  margin: 26px 0;
  border: 1px solid red;
}

.content__list-item:last-of-type {
  margin-bottom: 0;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
}

.content__video-card {
  display: grid;
  grid-template-columns: 1fr min-content;
  /*justify-items: stretch;
  align-items: stretch;*/
  justify-content: space-between;
  align-content: start;
}

.content__video-card-description-container

.content__video-card-title {
  color: currentColor;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-transform: uppercase;
  margin-bottom: 6px;
}
.content__video-card-description {
  color: currentColor;
  font-size: 18px;
  font-weight: 400;
  line-height: 1em;
  letter-spacing: 0em;
}

.content__video-card-thumbnail {
  /*width: 100%;*/
  max-width: 194px;
  /*max-height: 103px;*/
  object-fit: cover;
  object-position: center;
}
